﻿@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization
@model Money.ViewModel.TransactionViewModel
@{
    ViewData["Title"] = "Create";
}



<h4>@Localizer["Transaction"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Reciver" class="control-label">@Localizer["Recip"] </label>
                <input asp-for="Reciver" class="form-control" />
                <span asp-validation-for="Reciver" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Money" class="control-label">@Localizer["Sum"]</label>
                <input asp-for="Money" class="form-control" />
                <span asp-validation-for="Money" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value=@Localizer["Create"] class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["Back"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
