﻿@model Money.Models.Transaction

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SenderId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SenderId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SenderBalance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SenderBalance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RecientId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecientId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RecientBalance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecientBalance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
