﻿@{ 
    Layout = "/Views/Shared/_Layout.cshtml";
}


<div>
    
    <hr />
    <div class="row">
        
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
