﻿@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Mvc.Localization
@model IndexViewModel
@{
    ViewData["Title"] = "Profile";
    ViewData.AddActivePage(ManageNavPages.Index);
}

<h4>@Localizer["Manage"]</h4>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username">@Localizer["Personal"]</label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Balance">@Localizer["Balance"]</label>
                <input asp-for="Balance" class="form-control" disabled />
            </div>


            <button type="submit" class="btn btn-default">@Localizer["Save"]</button>
        </form>
    </div>
</div>


